@{
    ViewBag.Title = "Home Page";
}

<main>
    <div style="height:100vh;background-color:lightblue;">

        <input type="time" name="time" id="time" />

        <input type="button" value="Get Time" onclick="GetTime();" />

        <input type="button" value="Set Time" onclick="SetTime();" />

        <div id="display" style="font-size:22px;">

        </div>
    </div>

   


</main>

<script>

    debugger;

    function GetTime() {
        debugger;

        var time = $("#time").val();

        $("#display").html(time);
    }

    function SetTime() {
        debugger;

        $("#time").val("13:21");
    }

</script>